<div class="dashboard-left-content">
    <div class="dashboard-close-main">
        <div class="close-bars"> <i class="las la-times"></i> </div>
        <div class="dashboard-bottom">
            <ul class="dashboard-list list-style-none">
                @if (!User.IsInRole("Admin") && !User.IsInRole("Hotel Owner") && !User.IsInRole("Staff"))
                {
                    <li id="dashboard" class="list">
                        <a href="/User/Profile/Index"> <i class="las la-briefcase"></i> Dashboard </a>
                    </li>
                }
                <li id="profile" class="list">
                    <a href="/User/Profile/Details"> <i class="las la-user-circle"></i> Profile </a>
                </li>
                <li class="list">
                    <a onclick="logOut()" style="cursor: pointer;"> <i class="las la-sign-out-alt"></i> Log Out </a>
                </li>
            </ul>
        </div>
    </div>
</div>