<div class="col-xxl-3 col-xl-4 col-sm-6 orders-child">
    <div class="single-order">
        <div class="single-order-flex">
            <div class="single-order-contents">
                <span class="single-order-contents-subtitle"> Cancelled Reservation </span>
                <h2 class="single-order-contents-title"> @ViewBag.CancelledReservationCount </h2>
            </div>
            <div class="single-order-icon">
                <i class="las la-times-circle"></i>
            </div>
        </div>
    </div>
</div>
