@model Entity.Concrete.FAQ

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="dashboard-reservation">
    <div class="single-reservation bg-white base-padding">
        <h3 class="single-reservation-title text-center my-3"> Edit Role </h3>
        <div class="custom--form dashboard-form">
            <form method="post">
                <div class="dashboard-flex-input">
                    <div class="dashboard-input mt-4">
                        <label class="label-title"> Title </label>
                        <input asp-for="Title" type="text" class="form--control" placeholder="Title">
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                </div>
                <div class="dashboard-flex-input">
                    <div class="dashboard-input mt-4">
                        <label class="label-title"> Description </label>
                        <textarea asp-for="Description" type="text" class="form--control" placeholder="Description" style="height: 250px;"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>
                <div class="btn-wrapper mt-4">
                    <div class="d-grid gap-2">
                        <button type="submit" class="cmn-btn btn-bg-1">Save Changes</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>



<script>
    document.getElementById('siteSettings').classList.add('active');
    document.getElementById('faqs').classList.add('selected');
</script>