<div class="dashboard-left-content">
    <div class="dashboard-close-main">
        <div class="close-bars"> <i class="las la-times"></i> </div>
        <div class="dashboard-bottom">
            <ul class="dashboard-list list-style-none">
                <li id="dashboard" class="list">
                    <a href="/Admin/Dashboard"> <i class="las la-briefcase"></i> Dashboard </a>
                </li>
                <li id="bookings" class="list">
                    <a href="/Admin/Booking"> <i class="las la-calendar-check"></i> Bookings </a>
                </li>
                <li id="hotelOperations" class="list has-children">
                    <a href="javascript:void(0)"> <i class="las la-hotel"></i> Hotel Operations </a>
                    <ul class="submenu list-style-none">
                        <li id="locations" class="list"> <a href="/Admin/Location"> Locations </a> </li>
                        <li id="hotels" class="list"> <a href="/Admin/Hotel"> Hotels </a> </li>
                    </ul>
                </li>
                <li id="users" class="list has-children">
                    <a href="javascript:void(0)"> <i class="las la-users"></i> Users </a>
                    <ul class="submenu list-style-none">
                        <li id="admin" class="list"> <a href="/Admin/Admin"> Admins </a> </li>
                        <li id="member" class="list"> <a href="/Admin/Member"> Members </a> </li>
                        <li id="staff" class="list"> <a href="/Admin/Staff"> Staffs </a> </li>
                        <li id="hotelOwner" class="list"> <a href="/Admin/HotelOwner"> Hotel Owners </a> </li>
                        <hr class="my-1 mx-0 w-75" />
                        <li id="roles" class="list"> <a href="/Admin/Role"> User Roles </a> </li>
                        <li id="hotelOwnerRequests" class="list"> <a href="/Admin/HotelOwnerRequest"> Hotel Owners Requests </a> </li>
                    </ul>
                </li>
                <li id="siteSettings" class="list has-children">
                    <a href="javascript:void(0)"> <i class="las la-file-alt"></i> Site Settings </a>
                    <ul class="submenu list-style-none">
                        <li id="about" class="list"> <a href="/Admin/About"> About </a> </li>
                        <li id="partners" class="list"> <a href="/Admin/Partner"> Partners </a> </li>
                        <li id="faqs" class="list"> <a href="/Admin/FAQ"> FAQ's </a> </li>
                        <li id="socialAccount" class="list"> <a href="/Admin/SocialAccount"> Social Accounts </a> </li>
                    </ul>
                </li>
                <li id="messages" class="list has-children">
                    <a href="javascript:void(0)"> <i class="las la-sms"></i> Messages </a>
                    <ul class="submenu list-style-none">
                        <li id="question" class="list"> <a href="/Admin/Question"> Question </a> </li>
                        <li id="contact" class="list"> <a href="/Admin/Contact"> Contact </a> </li>
                    </ul>
                </li>
                <li id="mailOperations" class="list has-children">
                    <a href="javascript:void(0)"> <i class="las la-envelope"></i> Mail Operations </a>
                    <ul class="submenu list-style-none">
                        <li id="emailsSent" class="list"> <a href="/Admin/MailOperations"> Emails Sent </a> </li>
                        <hr class="my-1 mx-0 w-75" />
                        <li id="admins" class="list"> <a href="/Admin/MailOperations/SendForAdmins"> Send For Admins </a> </li>
                        <li id="members" class="list"> <a href="/Admin/MailOperations/SendForMembers"> Send For Members </a> </li>
                        <li id="staffs" class="list"> <a href="/Admin/MailOperations/SendForStaffs"> Send For Staffs </a> </li>
                        <li id="hotelOwners" class="list"> <a href="/Admin/MailOperations/SendForHotelOwners"> Send For Hotel Owners </a> </li>
                        <li id="subscribers" class="list"> <a href="/Admin/MailOperations/SendForSubscribers"> Send For Subscribers </a> </li>
                    </ul>
                </li>
                <li class="list">
                    <a onclick="logOut()" style="cursor: pointer;"> <i class="las la-sign-out-alt"></i> Log Out </a>
                </li>
            </ul>
        </div>
    </div>
</div>