<section class="guest-area pat-50 pab-50">
    <div class="container">
        <div class="section-title-three append-flex">
            <h2 class="title"> Thoughts from our guests </h2>
            <div class="append-attraction append-color-two"></div>
        </div>
        <div class="row mt-5">
            <div class="col-12">
                <div class="global-slick-init guest-two-slider nav-style-one slider-inner-margin" data-appendarrows=".append-attraction" data-infinite="true" data-arrows="true" data-dots="false" data-slidestoshow="3" data-swipetoslide="true" data-autoplay="true" data-autoplayspeed="2500" data-prevarrow="<div class=&quot;prev-icon radius-parcent-50&quot;><i class=&quot;las la-angle-left&quot;></i></div>" data-nextarrow="<div class=&quot;next-icon radius-parcent-50&quot;><i class=&quot;las la-angle-right&quot;></i></div>" data-responsive="[{&quot;breakpoint&quot;: 1400,&quot;settings&quot;: {&quot;slidesToShow&quot;: 4}},{&quot;breakpoint&quot;: 1200,&quot;settings&quot;: {&quot;slidesToShow&quot;: 3}},{&quot;breakpoint&quot;: 992,&quot;settings&quot;: {&quot;slidesToShow&quot;: 2}},{&quot;breakpoint&quot;: 576, &quot;settings&quot;: {&quot;slidesToShow&quot;: 1} }]">
                    <div class="guest-two-item">
                        <div class="single-guest-two single-guest-two-border radius-20">
                            <div class="single-guest-two-flex">
                                <div class="single-guest-two-thumb">
                                    <a href="javascript:void(0)"> <img src="/Templates/main/assets/img/guest/g1.jpg" alt="img"> </a>
                                </div>
                                <div class="single-guest-two-contents">
                                    <h4 class="single-guest-two-contents-title"> <a href="javascript:void(0)"> Guy Hawkins </a> </h4>
                                    <div class="single-guest-two-contents-country">
                                        <div class="single-guest-two-contents-country-flag">
                                            <img src="/Templates/main/assets/img/guest/sweden.png" alt="flag">
                                        </div>
                                        <span class="single-guest-two-contents-country-name"> Sweden </span>
                                    </div>
                                </div>
                            </div>
                            <p class="single-guest-two-para mt-3"> Amet minim mollit non deserunt ullamco est sit aliq dolor do amet sint. Velit officia consequat duis enilk velit mollit. </p>
                        </div>
                    </div>
                    <div class="guest-two-item">
                        <div class="single-guest-two single-guest-two-border radius-20">
                            <div class="single-guest-two-flex">
                                <div class="single-guest-two-thumb">
                                    <a href="javascript:void(0)"> <img src="/Templates/main/assets/img/guest/g2.jpg" alt="img"> </a>
                                </div>
                                <div class="single-guest-two-contents">
                                    <h4 class="single-guest-two-contents-title"> <a href="javascript:void(0)"> Guy Hawkins </a> </h4>
                                    <div class="single-guest-two-contents-country">
                                        <div class="single-guest-two-contents-country-flag">
                                            <img src="/Templates/main/assets/img/guest/usa.png" alt="flag">
                                        </div>
                                        <span class="single-guest-two-contents-country-name"> USA </span>
                                    </div>
                                </div>
                            </div>
                            <p class="single-guest-two-para mt-3"> Amet minim mollit non deserunt ullamco est sit aliq dolor do amet sint. Velit officia consequat duis enilk velit mollit. </p>
                        </div>
                    </div>
                    <div class="guest-two-item">
                        <div class="single-guest-two single-guest-two-border radius-20">
                            <div class="single-guest-two-flex">
                                <div class="single-guest-two-thumb">
                                    <a href="javascript:void(0)"> <img src="/Templates/main/assets/img/guest/g3.jpg" alt="img"> </a>
                                </div>
                                <div class="single-guest-two-contents">
                                    <h4 class="single-guest-two-contents-title"> <a href="javascript:void(0)"> Guy Hawkins </a> </h4>
                                    <div class="single-guest-two-contents-country">
                                        <div class="single-guest-two-contents-country-flag">
                                            <img src="/Templates/main/assets/img/guest/netherland.png" alt="flag">
                                        </div>
                                        <span class="single-guest-two-contents-country-name"> Netherland </span>
                                    </div>
                                </div>
                            </div>
                            <p class="single-guest-two-para mt-3"> Amet minim mollit non deserunt ullamco est sit aliq dolor do amet sint. Velit officia consequat duis enilk velit mollit. </p>
                        </div>
                    </div>
                    <div class="guest-two-item">
                        <div class="single-guest-two single-guest-two-border radius-20">
                            <div class="single-guest-two-flex">
                                <div class="single-guest-two-thumb">
                                    <a href="javascript:void(0)"> <img src="/Templates/main/assets/img/guest/g2.jpg" alt="img"> </a>
                                </div>
                                <div class="single-guest-two-contents">
                                    <h4 class="single-guest-two-contents-title"> <a href="javascript:void(0)"> Guy Hawkins </a> </h4>
                                    <div class="single-guest-two-contents-country">
                                        <div class="single-guest-two-contents-country-flag">
                                            <img src="/Templates/main/assets/img/guest/usa.png" alt="flag">
                                        </div>
                                        <span class="single-guest-two-contents-country-name"> USA </span>
                                    </div>
                                </div>
                            </div>
                            <p class="single-guest-two-para"> Amet minim mollit non deserunt ullamco est sit aliq dolor do amet sint. Velit officia consequat duis enilk velit mollit. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>