@model SignUpViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Sign Up | OtelBudur - Enjoy Your Dream Vacation!  </title>

    <link rel="icon" href="/Templates/main/favicon.png" sizes="16x16" type="icon/png">

    <link rel="stylesheet" href="/Templates/main/assets/css/bootstrap.min.css">

    <link rel="stylesheet" href="/Templates/main/assets/css/line-awesome.min.css">

    <link rel="stylesheet" href="/Templates/main/assets/css/animate.css">

    <link rel="stylesheet" href="/Templates/main/assets/css/slick.css">

    <link rel="stylesheet" href="/Templates/main/assets/css/magnific-popup.css">

    <link rel="stylesheet" href="/Templates/main/assets/css/flatpicker.css">

    <link rel="stylesheet" href="/Templates/main/assets/css/intlTelInput.css">

    <link rel="stylesheet" href="/Templates/main/assets/css/nice-select.css">

    <link rel="stylesheet" href="/Templates/main/assets/css/style.css">

</head>
<body>

    <section class="l-area padding-top-100 padding-bottom-100 mt-3">
        <div class="container">
            <div class="login-wrapper login-shadow bg-white">
                <div class="login-wrapper-flex">
                    <div class="login-wrapper-thumb">
                        <img src="/Templates/main/assets/img/single-page/login.jpg" alt="img">
                    </div>
                    <div class="login-wrapper-contents login-padding">
                        <h2 class="single-title text-center"> Welcome! </h2>
                        @if (ViewBag.AlreadyRegistered != null)
                        {
                            <span class="d-block text-center text-danger">@ViewBag.AlreadyRegistered</span>
                        }
                        <form class="login-wrapper-form custom-form padding-top-20" methot="post" asp-action="Index">
                            <div class="single-input mt-4">
                                <label class="label-title mb-3"> Full Name </label>
                                <input asp-for="FullName" class="form--control" type="text" placeholder="Type Full Name">
                                <span asp-validation-for="FullName" class="text-danger"></span>
                            </div>
                            <div class="single-input mt-4">
                                <label class="label-title mb-3"> User Name </label>
                                <input asp-for="UserName" class="form--control" type="text" placeholder="Type User Name">
                                <span asp-validation-for="UserName" class="text-danger"></span>
                            </div>
                            <div class="single-input mt-4">
                                <label class="label-title mb-3"> Email Address </label>
                                <input asp-for="Email" type="text" class="form--control" placeholder="Type Email">
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="single-input mt-4">
                                <label class="label-title mb-3"> Phone Number </label>
                                <input asp-for="PhoneNumber" class="form--control" type="tel" id="phone">
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                            </div>
                            <div class="input-flex-item">
                                <div class="single-input mt-4">
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                    <label class="label-title mb-3"> Password </label>
                                    <input asp-for="Password" class="form--control" type="password" placeholder="Type Password">
                                    <div class="icon toggle-password">
                                        <div class="show-icon"> <i class="las la-eye-slash"></i> </div>
                                        <span class="hide-icon"> <i class="las la-eye"></i> </span>
                                    </div>
                                </div>
                                <div class="single-input mt-4">
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                    <label class="label-title mb-3"> Confirm Password </label>
                                    <input asp-for="ConfirmPassword" class="form--control" type="password" placeholder="Confirm Password">
                                    <div class="icon toggle-password">
                                        <div class="show-icon"> <i class="las la-eye-slash"></i> </div>
                                        <span class="hide-icon"> <i class="las la-eye"></i> </span>
                                    </div>
                                </div>
                            </div>
                            <button class="submit-btn w-100 mt-4" type="submit"> Sign Up Now </button>
                            <span class="d-block account color-light mt-3"> Already have an account? <a class="color-one" href="/LogIn"> Login </a> </span>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <script src="/Templates/main/assets/js/jquery-3.6.0.min.js"></script>

    <script src="/Templates/main/assets/js/jquery-migrate.min.js"></script>

    <script src="/Templates/main/assets/js/bootstrap.bundle.min.js"></script>

    <script src="/Templates/main/assets/js/wow.js"></script>

    <script src="/Templates/main/assets/js/slick.js"></script>

    <script src="/Templates/main/assets/js/imagesloaded.pkgd.min.js"></script>

    <script src="/Templates/main/assets/js/isotope.pkgd.min.js"></script>

    <script src="/Templates/main/assets/js/jquery.magnific-popup.js"></script>

    <script src="/Templates/main/assets/js/jquery.nice-select.js"></script>

    <script src="/Templates/main/assets/js/flatpicker.js"></script>

    <script src="/Templates/main/assets/js/nouislider-8.5.1.min.js"></script>

    <script src="/Templates/main/assets/js/intlTelInput.js"></script>

    <script src="/Templates/main/assets/js/main.js"></script>
</body>
</html>