<!DOCTYPE html>
<html lang="en" style="background-color: #F2F4F7;">

@await Component.InvokeAsync("_HeadComponent")

<body>

    @await Component.InvokeAsync("_HotelOwnerHeaderComponent")

    <div class="body-overlay"></div>
    <div class="dashboard-area section-bg-2 dashboard-padding">
        <div class="container" style="margin-top: 80px;">
            <div class="dashboard-contents-wrapper">
                <div class="dashboard-icon">
                    <div class="sidebar-icon">
                        <i class="las la-bars"></i>
                    </div>
                </div>

                @await Component.InvokeAsync("_HotelOwnerSidebarComponent")

                <div class="dashboard-right-contents mt-4 mt-lg-0">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>

    @await Component.InvokeAsync("_BackToTopComponent")

    @await Component.InvokeAsync("_ScriptsComponent")

</body>
</html>