@model Entity.Concrete.RoomImage

@{
    ViewData["Title"] = "AddImage";
    Layout = "~/Areas/HotelOwner/Views/Shared/_HotelOwnerLayout.cshtml";
}

<div class="dashboard-reservation">
    <div class="single-reservation bg-white base-padding">
        <h3 class="single-reservation-title text-center my-3"> Add Room Image </h3>
        <div class="custom--form dashboard-form">
            <form method="post" enctype="multipart/form-data">
                <div class="dashboard-flex-input">
                    <div class="dashboard-input mt-4">
                        <label class="label-title"> Image </label>
                        <input name="image" type="file" class="form-control" />
                    </div>
                </div>
                <div class="btn-wrapper mt-4">
                    <div class="d-grid gap-2">
                        <button type="submit" class="cmn-btn btn-bg-1">Add</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    var rooms = document.getElementById('rooms').classList.add('active');
</script>