<div class="banner-area banner-area-three banner-bg">
    <div class="banner-shapes">
        <img src="/Templates/main/assets/img/banner/banner-shapes.png" alt="shapes">
        <img src="/Templates/main/assets/img/banner/banner-shapes2.png" alt="shapes">
    </div>
    <div class="container">
        <div class="banner-area-flex">
            <div class="banner-single-content text-white">
                <h2 class="banner-single-content-title fw-700"> Book our <span class="banner-single-content-title-shape"> Hotels, Stays </span> for your next <span class="banner-single-content-title-shape star-shape"> tour </span> </h2>
            </div>
            <div class="banner-thumb-wrap">
                <div class="banner-area-thumb">
                    <img src="/Templates/main/assets/img/banner/banner-man.png" alt="">
                </div>
                <div class="banner-thumb-shape">
                    <img src="/Templates/main/assets/img/banner/img-shape1.svg" alt="shapes">
                    <img src="/Templates/main/assets/img/banner/img-shape2.svg" alt="shapes">
                    <img src="/Templates/main/assets/img/banner/img-shape3.svg" alt="shapes">
                </div>
            </div>
        </div>
    </div>
</div>
