    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> OtelBudur - Enjoy Your Dream Vacation! </title>

    <link rel="icon" href="/Templates/main/favicon.png" sizes="16x16" type="icon/png">

    <link rel="stylesheet" href="/Templates/main/assets/css/bootstrap.min.css">

    <link rel="stylesheet" href="/Templates/main/assets/css/line-awesome.min.css">

    <link rel="stylesheet" href="/Templates/main/assets/css/animate.css">

    <link rel="stylesheet" href="/Templates/main/assets/css/slick.css">

    <link rel="stylesheet" href="/Templates/main/assets/css/magnific-popup.css">

    <link rel="stylesheet" href="/Templates/main/assets/css/flatpicker.css">

    <link rel="stylesheet" href="/Templates/main/assets/css/intlTelInput.css">

    <link rel="stylesheet" href="/Templates/main/assets/css/nice-select.css">

    <link rel="stylesheet" href="/Templates/main/assets/css/style.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
</head>