@model ChangePasswordViewModel

@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Areas/User/Views/Shared/_ProfileLayout.cshtml";
}

<div class="dashboard-reservation">
    <div class="single-reservation bg-white base-padding">
        <h3 class="single-reservation-title"> Change Password </h3>
        <div class="custom--form dashboard-form">
            <form method="post">
                <div class="dashboard-input mt-4">
                    <span asp-validation-for="Password" class="text-danger"></span>
                    <label class="label-title"> New Password </label>
                    <input asp-for="Password" type="password" class="form--control" placeholder="New Password">
                    <div class="toggle-password"> <span class="eye-icon"> </span> </div>
                </div>
                <div class="dashboard-input mt-4">
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    <label class="label-title"> Confirm Password </label>
                    <input asp-for="ConfirmPassword" type="password" class="form--control" placeholder="Confirm Password">
                    <div class="toggle-password"> <span class="eye-icon"> </span> </div>
                </div>
                <div class="btn-wrapper mt-4">
                    <div class="d-grid gap-2">
                        <button type="submit" class="cmn-btn btn-bg-1">Save Changes</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<script>
    var profile = document.getElementById('profile');
    profile.classList.add('active');
</script>