<div class="footer-wrapper-single">
    <div class="footer-widget widget">
        <h3 class="footer-widget-title text-white"> Discounts, Newsletters </h3>
        <div class="footer-widget-inner mt-4">
            <p class="footer-widget-para"> Get discounts and newsletters on our hotels in your email. We promise to not spam. Unsubscribe anytime </p>
            <div class="footer-widget-form mt-5">
                <form method="post" asp-action="Subscribe" asp-controller="Home">
                    <div class="footer-widget-form-single">
                        <input class="footer-widget-form-control" name="Email" type="text" placeholder="Enter Your Email">
                        <button type="submit"> Submit </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>