<section class="attraction-area pat-50 pab-50">
    <div class="container">
        <div class="section-title center-text">
            <h2 class="title"> Nearby Attractions </h2>
            <div class="section-title-line"> </div>
        </div>
        <div class="row mt-5">
            <div class="col-12">
                <div class="global-slick-init attraction-slider nav-style-one nav-color-two slider-inner-margin" data-infinite="true" data-arrows="true" data-dots="false" data-slidestoshow="4" data-swipetoslide="true" data-autoplay="true" data-autoplayspeed="2500" data-prevarrow="<div class=&quot;prev-icon radius-parcent-50&quot;><i class=&quot;las la-angle-left&quot;></i></div>" data-nextarrow="<div class=&quot;next-icon radius-parcent-50&quot;><i class=&quot;las la-angle-right&quot;></i></div>" data-responsive="[{&quot;breakpoint&quot;: 1400,&quot;settings&quot;: {&quot;slidesToShow&quot;: 4}},{&quot;breakpoint&quot;: 1200,&quot;settings&quot;: {&quot;slidesToShow&quot;: 3}},{&quot;breakpoint&quot;: 992,&quot;settings&quot;: {&quot;slidesToShow&quot;: 2}},{&quot;breakpoint&quot;: 576, &quot;settings&quot;: {&quot;slidesToShow&quot;: 1} }]">
                    <div class="attraction-item">
                        <div class="single-attraction-two radius-20">
                            <div class="single-attraction-two-thumb">
                                <a href="/Templates/main/assets/img/attraction/a5.jpg" class="gallery-popup-two"> <img src="/Templates/main/assets/img/attraction/a5.jpg" alt="img"> </a>
                            </div>
                            <div class="single-attraction-two-contents">
                                <h4 class="single-attraction-two-contents-title"> <a href="hotel_details.html"> Eiffel Tower </a> </h4>
                                <p class="single-attraction-two-contents-para"> We have over 28K reviews to assure you top notch service. </p>
                            </div>
                        </div>
                    </div>
                    <div class="attraction-item">
                        <div class="single-attraction-two radius-20">
                            <div class="single-attraction-two-thumb">
                                <a href="/Templates/main/assets/img/attraction/a6.jpg" class="gallery-popup-two"> <img src="/Templates/main/assets/img/attraction/a6.jpg" alt="img"> </a>
                            </div>
                            <div class="single-attraction-two-contents">
                                <h4 class="single-attraction-two-contents-title"> <a href="hotel_details.html"> Disneyland </a> </h4>
                                <p class="single-attraction-two-contents-para"> We have over 28K reviews to assure you top notch service. </p>
                            </div>
                        </div>
                    </div>
                    <div class="attraction-item">
                        <div class="single-attraction-two radius-20">
                            <div class="single-attraction-two-thumb">
                                <a href="/Templates/main/assets/img/attraction/a7.jpg" class="gallery-popup-two"> <img src="/Templates/main/assets/img/attraction/a7.jpg" alt="img"> </a>
                            </div>
                            <div class="single-attraction-two-contents">
                                <h4 class="single-attraction-two-contents-title"> <a href="hotel_details.html"> Palace de justice </a> </h4>
                                <p class="single-attraction-two-contents-para"> We have over 28K reviews to assure you top notch service. </p>
                            </div>
                        </div>
                    </div>
                    <div class="attraction-item">
                        <div class="single-attraction-two radius-20">
                            <div class="single-attraction-two-thumb">
                                <a href="/Templates/main/assets/img/attraction/a8.jpg" class="gallery-popup-two"> <img src="/Templates/main/assets/img/attraction/a8.jpg" alt="img"> </a>
                            </div>
                            <div class="single-attraction-two-contents">
                                <h4 class="single-attraction-two-contents-title"> <a href="hotel_details.html"> Arc de Trimorph </a> </h4>
                                <p class="single-attraction-two-contents-para"> We have over 28K reviews to assure you top notch service. </p>
                            </div>
                        </div>
                    </div>
                    <div class="attraction-item">
                        <div class="single-attraction-two radius-20">
                            <div class="single-attraction-two-thumb">
                                <a href="/Templates/main/assets/img/attraction/a6.jpg" class="gallery-popup-two"> <img src="/Templates/main/assets/img/attraction/a6.jpg" alt="img"> </a>
                            </div>
                            <div class="single-attraction-two-contents">
                                <h4 class="single-attraction-two-contents-title"> <a href="hotel_details.html"> Disneyland </a> </h4>
                                <p class="single-attraction-two-contents-para"> We have over 28K reviews to assure you top notch service. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>