@model Entity.Concrete.QuestionAnswer

@{
    ViewData["Title"] = "SeeAnswer";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="dashboard-reservation">
    <div class="single-reservation bg-white base-padding">
        <h3 class="single-reservation-title text-center my-3"> Answer </h3>
        <div class="custom--form dashboard-form">
            <div class="dashboard-flex-input">
                <div class="dashboard-input mt-4">
                    <label class="label-title"> Answer </label>
                    <textarea asp-for="@Model.Answer" type="text" class="form--control" style="height: 200px;" readonly></textarea>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    var messages = document.getElementById('messages');
    var question = document.getElementById('question');

    messages.classList.add('active');
    question.classList.add('selected');
</script>