<!DOCTYPE html>
<html lang="en">

@await Component.InvokeAsync("_HeadComponent")

<body>

    @await Component.InvokeAsync("_HeaderComponent")

    @RenderBody()

    @await Component.InvokeAsync("_FooterComponent")

    @await Component.InvokeAsync("_BackToTopComponent")

    @await Component.InvokeAsync("_ScriptsComponent")

</body>
</html>